body {

	font-family:'Lato', sans-serif;
	padding-bottom: 10px;
	font-weight: lighter;
	background-position: fixed;
}

a {
	cursor: pointer;
}

h2 {
	font-family: "Lobster";
	font-style: cursive;
	font-size: 2.4em;
	font-weight: lighter;
	text-align: center;
	line-height: 1em;
	margin-top: 0px;

}

section {

	max-width: 100%;
	margin: auto;
	margin-bottom: 30px;

}

.container {

	width: 75%;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #FFFFFF;
		
	-webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.35);
	box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.35);

}

@media all and (max-width: 1080px) {

	.container {
		padding-left: 50px;
		padding-right: 50px;
		width: 80%;
	}

}

@media all and (max-width: 725px) {

	.container {
		padding-left: 10px;
		padding-right: 10px;
		width: 80%;
	}

}

.fixed-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -9999;
}

.fixed-nav-bar {
		position: fixed;
		/*padding-top: 8px;*/
  		top: 0;
  		left: 0;
  		z-index: 9999;
  		width: 100%;
  		/*height: 30px;*/
  		background-color: #1782F0;
  		text-align: center;
  		font-size: 1.2em;
 }

 	.fixed-nav-bar div {
 		padding: 8px;
 	}

	.fixed-nav-bar a {
		color: white;
		text-decoration: none ;
	}

	.fixed-nav-bar a:visited {
		color: white;
		text-decoration: none ;
	}

	.fixed-nav-bar a:hover {
		color:black;
	}

@media all and (max-width: 600px) {

	.fixed-nav-bar {
		font-size: 1.0em;
	}

}

#about {
	margin-top: 50px;
}

#about h1 {
	font-family: "Lobster";
	font-style: cursive;
	font-size: 6.3em;
	font-weight: lighter;
	text-align: center;
	margin-top: 20px;
	line-height: 20px;

}

#about p {
	line-height: 1.6em;
	width: 85%;
	margin: auto;
	padding-top: 20px;
}

#about h2 {
	width: 80%;
	margin: auto;
	font-family: "Lobster";
	font-style: cursive;
	font-size: 2.4em;
	font-weight: lighter;
	text-align: center;
	padding-bottom: 20px;

}

#about h2 {
	font-family: Lobster;
	font-size: 1em;
}

#about a {
	color: black;
}

#about a:hover {
	color: #375FEE;
}

@media all and (max-width: 1080px) {

	#about h1 {
		font-size: 4.3em;
	}

}

@media all and (max-width: 725px) {

	#about h1 {
		font-size: 2.3em;
	}

}

.intro-paragraph {
	font-size: 1.2em;
}

@media all and (max-width: 725px) {

	.intro-paragraph {
		font-size: 1em;
	}

}

.bio {
	width: 60%;
	margin: auto;
}

@media all and (max-width: 725px) {

	.bio {
		width: 90%;
	}

}

#resume p {
	text-align: left;
}

@media all and (max-width: 725px) {

	#resume p {
		text-align: center;
	}

}

.pubtitle {
 	font-style: italic;
}

.timeline {
	font-weight: bold;
	display: inline-block;
	width: 250px;
}

@media all and (max-width: 725px) {

	.timeline {
		display: block;
		width: auto;
	}

}

#find-me p {
	text-align: center;
}

#find-me i {
	padding: 20px;
	color: black;
	font-size: 5em;
}

#find-me i:hover {
	color: #375FEE;
}

@media all and (max-width: 1080px) {

	#find-me i {
		font-size: 5em;
		padding: 20px;
	}

}

@media all and (max-width: 850px) {

	#find-me i {
		font-size: 3em;
		padding: 10px;
	}

}

@media all and (max-width: 600px) {

	#find-me i {
		font-size: 2em;
		padding: 10px;
	}

}

#stuff img {
	width: 70%;
}

#stuff a {
	color: black;
}

#stuff a:hover {
	color: #375FEE;
}

#stuff p {
	text-align: center;
	font-weight: bold;
}

#gallery img {
	width: 22%;
}

footer {
	text-align: center;
	padding-top: 30px;
	background-color: white;
	padding-bottom: 30px;
	padding-left: 100px;
	padding-right: 100px;
	width: 75%;
	margin: auto;
	-webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.35);
	box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.35);
}

footer i {
	padding: 10px;
	color: black;
}

footer i:hover {
	color: #375FEE;
}

@media all and (max-width: 1080px) {

	footer {
		padding-left: 50px;
		padding-right: 50px;
		width: 80%;
	}

}

@media all and (max-width: 725px) {

	footer {
		padding-left: 10px;
		padding-right: 10px;
		width: 80%;
	}

}

@media all and (max-width: 725px) {

	footer i {
		padding: 5px;
	}

}