
@accent-colour  : #2234D4;
@twitter-blue   : #4099FF;
@gmail-blue     : #6188f5;
@etsy-orange    : #f45800;
@instagram-blue : #125688;
@pinterest-red  : #C92228;
@linkedin-blue  : #007bb6;
@tumblr-blue    : #32506d;

body {
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
	padding-bottom        : 10px;

	background-attachment : fixed;
	background-image      : url("../rsz_1bluewater.jpg");
	font-family           : 'Lato', sans-serif;
	font-weight           : lighter;
}

a {
	cursor : pointer;
}

.header img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.header h1 {
  position: relative;
  top: 30px;
}

@media all and (max-width: 1080px) {
	.header img {
		display: none;
		padding-top: -20px;
		top: -10px;
	}
}

@media all and (max-width: 725px) {
	.header h1 {
		padding-top: -20px;
		top: -10px;

	}
}

.logo-mobile img {
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

@media all and (min-width: 1080px) {
	.logo-mobile img {
		display: none;
		padding-top: -20px;
	}
}

h2 {
	margin-top  : 0px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family : "Lato";
	font-size   : 2.4em;
	font-weight : lighter;
	line-height : 1em;
	text-align  : center;
}

section {
	max-width     : 100%;
	margin        : auto;
	margin-bottom : 30px;
}

.container {
	width              : 75%;
	max-width          : 1020px;
	margin             : auto;
	padding-top        : 40px;
	padding-bottom     : 40px;
	padding-right      : 100px;
	padding-left       : 100px;

	background-color   : #FFFFFF;
	box-shadow         : 1px 1px 6px 1px rgba(0,0,0,0.35);

	
	-webkit-box-shadow : 1px 1px 6px 1px rgba(0,0,0,0.35);
	-moz-box-shadow    : 1px 1px 6px 1px rgba(0,0,0,0.35);
}

@media all and (max-width: 1080px) {
	.container {
		width         : 90%;
		padding-right : 20px;
		padding-left  : 20px;
	}
}

@media all and (max-width: 725px) {
	.container {
		width         : 85%;
		padding-right : 8px;
		padding-left  : 8px;
	}
}

@media all and (max-width: 725px) {
	.container h2 {
		font-size : 1.5em;
	}
}

.fixed-nav-bar {
	position         : fixed;
	top              : 0;
	left             : 0;
	z-index          : 9999;

	width            : 100%;

	background-color : white;
	font-size        : 1.2em;
	text-align       : center;

	div {
		padding : 8px;
	}
	a {
		color           : black;
		text-decoration : none;

		&:visited {
			color           : black;
			text-decoration : none;
		}
		&:hover {
			color              : @accent-colour;

			-webkit-transition : all 0.3s ease;
			-moz-transition    : all 0.3s ease;
			-ms-transition     : all 0.3s ease;
			-o-transition      : all 0.3s ease;
			transition         : all 0.3s ease;
		}
	}
}

@media all and (max-width: 600px) {
	.fixed-nav-bar {
		font-size : 1.0em;
	}
}

#about {
	margin-top : 50px;

	h1 {
		margin-top  : 20px;
		text-transform: uppercase;
		letter-spacing: 6px;
		font-family : "Lato";
		font-size   : 3.5em;
		font-weight : lighter;
		line-height : 50px;
		text-align  : center;
		color: @accent-colour;
	}

	p {
		width       : 85%;
		margin      : auto;
		padding-top : 5px;
		padding-top: 20px;
		line-height : 1.6em;
	}

	h2 {
		width          : 80%;
		margin         : auto;
		padding-bottom : 20px;

		font-family    : "Lato";
		font-size      : 1em;
		font-weight    : lighter;
		text-align     : center;
	}

	a {
		color : black;
		text-decoration: underline;
		&:hover {
			color              : @accent-colour;

			-webkit-transition : all 0.3s ease;
			-moz-transition    : all 0.3s ease;
			-ms-transition     : all 0.3s ease;
			-o-transition      : all 0.3s ease;
			transition         : all 0.3s ease;
		}
	}
}

@media all and (max-width: 1080px) {
	#about h1 {
		font-size : 3em;
	}
}

@media all and (max-width: 725px) {
	#about h1 {
		font-size : 2.3em;
	}
}

.intro {
	margin-top: 70px;
}

@media all and (max-width: 725px) {
	.intro {
		margin-top: -15px;
	}
}

.intro-paragraph {
	font-size : 1.2em;
}

@media all and (max-width: 725px) {
	.intro-paragraph {
		font-size : 1em;
	}
}

.bio {
	width  : 60%;
	margin : auto;
}

@media all and (max-width: 1000px) {
	.bio {
		width : 80%;
	}
}

#resume {
	
	a {
		color : black;
		&:hover {
			color              : @accent-colour;

			-webkit-transition : all 0.3s ease;
			-moz-transition    : all 0.3s ease;
			-ms-transition     : all 0.3s ease;
			-o-transition      : all 0.3s ease;
			transition         : all 0.3s ease;
		}
	}
}

@media all and (max-width: 725px) {
	#resume p {
		text-align : center;
	}
}

.resume-item {
	margin : 15px 0;
}

.pubtitle {
	font-style : italic;
}

.timeline {
	display     : inline-block;

	width       : 32%;

	font-weight : bold;
}

.job-title {
	display : inline-block;
	width   : 67%;
}

@media all and (max-width: 725px) {
	.timeline, .job-title {
		width      : 100%;
		text-align : center;
	}
}

.resume-text {
	width  : 95%;
	margin : 0 auto;
}

@media all and (max-width: 1080px) {
	.resume-text {
		width  : 100%;
		margin : 0 auto;
	}
}

#find-me {
	text-align : center;
	i {
		padding            : 20px;

		font-size          : 5em;
		color              : black;

		-webkit-transition : all 0.3s ease;
		-moz-transition    : all 0.3s ease;
		-ms-transition     : all 0.3s ease;
		-o-transition      : all 0.3s ease;
		transition         : all 0.3s ease;

		&.email-icon:hover{
			color : @gmail-blue;
			
		}

		&.twitter-icon:hover{
			color : @twitter-blue;
		}

		&.etsy-icon:hover{
			color : @etsy-orange;
		}

		&.insta-icon:hover{
			color : @instagram-blue;
		}

		&.pinterest-icon:hover{
			color : @pinterest-red;
		}

		&.linkedin-icon:hover{
			color : @linkedin-blue;
		}

		&.tumblr-icon:hover{
			color : @tumblr-blue;
		}
	}
}

@media all and (max-width: 1080px) {
	#find-me i {
		padding   : 20px;
		font-size : 5em;
	}
}

@media all and (max-width: 1000px) {
	#find-me i {
		padding   : 10px;
		font-size : 3em;
	}
}

@media all and (max-width: 600px) {
	#find-me i {
		padding   : 6px;
		font-size : 1.5em;
	}
}

#stuff {
	img {
		width : 70%;
	}

	a {
		color : black;
		&:hover {
			color              : @accent-colour;

			-webkit-transition : all 0.3s ease;
			-moz-transition    : all 0.3s ease;
			-ms-transition     : all 0.3s ease;
			-o-transition      : all 0.3s ease;
			transition         : all 0.3s ease;
		}
	}

	p {
		text-align : center;
	}
}

#gallery img {
	width : 22%;
}

.fade {
	opacity            : 1;

	-webkit-transition : opacity .35s ease-in-out;
	-moz-transition    : opacity .35s ease-in-out;
	transition         : opacity .35s ease-in-out;
}

.fade:hover {
	opacity : 0.7;
}

footer {
	width              : 75%;
	margin             : auto;
	padding-top        : 30px;
	padding-bottom     : 30px;
	padding-right      : 100px;
	padding-left       : 100px;

	background-color   : white;
	font-size          : 1em;
	text-align         : center;
	box-shadow         : 1px 1px 6px 1px rgba(0,0,0,0.35);

	-webkit-box-shadow : 1px 1px 6px 1px rgba(0,0,0,0.35);
	-moz-box-shadow    : 1px 1px 6px 1px rgba(0,0,0,0.35);

	i {
		padding            : 10px;

		font-size          : 1em;
		color              : black;

		-webkit-transition : all 0.3s ease;
		-moz-transition    : all 0.3s ease;
		-ms-transition     : all 0.3s ease;
		-o-transition      : all 0.3s ease;
		transition         : all 0.3s ease;

		&.email-icon:hover{
			color : @gmail-blue;
			
		}

		&.twitter-icon:hover{
			color : @twitter-blue;
		}

		&.etsy-icon:hover{
			color : @etsy-orange;
		}

		&.insta-icon:hover{
			color : @instagram-blue;
		}

		&.pinterest-icon:hover{
			color : @pinterest-red;
		}

		&.linkedin-icon:hover{
			color : @linkedin-blue;
		}

		&.tumblr-icon:hover{
			color : @tumblr-blue;
		}
	}
}

.more {
	font-style  : italic;
	font-weight : bold;
	text-align  : right;

	a {
		color           : black;
		text-decoration : none;

		&:hover {
			color              : @accent-colour;

			-webkit-transition : all 0.3s ease;
			-moz-transition    : all 0.3s ease;
			-ms-transition     : all 0.3s ease;
			-o-transition      : all 0.3s ease;
			transition         : all 0.3s ease;
		}
	}
}

@media all and (max-width: 725px) {
	.more {
		text-align : center;
	}
}

@media all and (max-width: 1080px) {
	footer {
		width         : 90%;
		padding-right : 20px;
		padding-left  : 20px;
	}
}

@media all and (max-width: 725px) {
	footer {
		width         : 85%;
		padding-right : 8px;
		padding-left  : 8px;
	}
}

@media all and (max-width: 725px) {
	footer i {
		padding : 5px;
	}
}

@media all and (max-width: 725px) {
	footer p {
		font-size : 0.5em;
	}
}