body {
	
	background-color: #FFFFFF;
	font-family:'Lato', sans-serif;
	padding-bottom: 10px;
	font-weight: lighter;
}

body a {
	cursor: pointer;
}

#about h1 {
	font-family: "Lobster";
	font-style: cursive;
	font-size: 5.6em;
	font-weight: lighter;
	text-align: center;

}

#about p {
	line-height: 1.6em;
	width: 800px;
	margin: auto;
	padding-top: 20px;
}

#about h2 {
	width: 700px;
	margin: auto;
	font-family: "Lobster";
	font-style: cursive;
	font-size: 2.4em;
	font-weight: lighter;
	text-align: center;
	padding-bottom: 20px;

}

h2 {
	font-family: "Lobster";
	font-style: cursive;
	font-size: 2.4em;
	font-weight: lighter;
	text-align: center;

}

#about h2 {
	font-family: Lobster;
	font-size: 1em;
}

#resume p {
	text-align: center;
}


.container {

	max-width: 900px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #FFFFFF;

}

.section {

	max-width: 100%;
	margin: auto;

}

.fixed-nav-bar {
		position: fixed;
		padding-top: 8px;
  		top: 0;
  		left: 0;
  		z-index: 9999;
  		width: 100%;
  		height: 30px;
  		background-color: #375FEE;
  		text-align: center;
  		font-size: 1.2em;
 }

	.fixed-nav-bar a {
		color: white;
		text-decoration: none ;
	}

	.fixed-nav-bar a:visited {
		color: white;
		text-decoration: none ;
	}

	.fixed-nav-bar a:hover {
		color:black;
	}

#about a {
	color: black;
}

#about a:hover {
	color: 375FEE;
}

.pubtitle {
 	font-style: italic;
}

.timeline {
	font-weight: bold;
}

#find-me p {
	text-align: center;
}

#find-me i {
	padding: 20px;
	color: black;
}

#find-me i:hover {
	color: 375FEE;
}

#stuff img {
	width: 600px;
}

#gallery img {
	width: 22%;
}

#stuff a {
	color: black;
}

#stuff a:hover {
	color: 375FEE;
}

#stuff p {
	text-align: center;
	font-weight: bold;
}

footer {
	text-align:center;
	padding-top: 50px;
}

footer i {
	padding: 10px;
	color: black;
}

footer i:hover {
	color: 375FEE;
}